nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #976e90;
    gap: 45px;

}

nav a {
    text-emphasis: none;
    color: aliceblue;
    transition: all 0.3s;
}

nav a:hover {
    color: aqua;
}

nav a svg {
    margin-right: 5px;
}